*, html {
	margin: 0;
	padding: 0;
	background-color: black;
}

div {
	padding: .3rem;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-color: black;

}

li {
	display: inline-block;
	margin: auto .3rem;
	padding: 1rem 0;
	color: white;
	white-space: nowrap;
}

p {
	color: white;
	font-family: Helvetica, serif;
	font-size: .8rem;
	white-space: nowrap;
	opacity: .8;
}

span {
	opacity: .8;
}

label {
	color: darkgray;
	opacity: .8;
}

input {
	width: 100%;
	border: solid darkgray 1px;
	padding: .3rem;
	margin: .5rem 0;
}

td {
	color: white;
	font-family: Helvetica, serif;
	font-size: .8rem;
	white-space: nowrap;
	opacity: .8;
}

th {
	color: white;
	font-family: Helvetica, serif;
	font-size: .8rem;
	white-space: nowrap;
	opacity: .8;
}

h2 {
	color: white;
	font-family: Helvetica, serif;
	font-size: 2rem;
	white-space: nowrap;
	opacity: .8;
}

button {
	color: green;
	font-family: Helvetica, serif;
	font-size: .8rem;
	white-space: nowrap;
	opacity: .8;
}
#contactform div {
	margin-left: 0;
	padding-left: 0;
	width: 100%;
}

a:link {
	color: white;
	text-decoration: none;
}

a:hover {
	color: palegoldenrod;
	text-decoration: none;
}

.left {
	margin: auto .3rem auto auto;
}

p.large {
	font-size: 1.5rem;
}

p.huge {
	font-size: 3rem;
	font-weight: bold;
}

p.center {
	text-align: center;
}

p.left {
	text-align: left;
}

div.bigpad {
	padding: 2rem;
}

img.center {
	display: block;
	margin: auto;
}

img.adjust {
	width: 800px;
}

.bigpad p {
	padding-top: 1rem;
}

#faq_div_center span {
	color: white;
	display: block;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 2rem;
	font-weight: bolder;
	background-color: transparent;
}

#faq_div_center p {
	color: white;
	text-align: center;
	font-size: 1.2rem;
	background-color: transparent;
	margin-left: 20px;
	margin-right: 20px;
}

#faq_div_left span {
	color: white;
	display: block;
	text-align: left;
	margin-top: 35px;
	margin-bottom: 10px;
	font-size: 1.2rem;
	background-color: transparent;
}

#faq_div_left p {
	color: white;
	text-align: left;
	font-size: 1.2rem;
	background-color: transparent;
	margin-left: 20px;
	margin-right: 20px;
}

#faq_div_left ol {
	color: white;
	display: block;
	text-align: left;
	background-color: transparent;
}

#faq_div_left li {
	color: white;
	display: list-item;
	text-align: left;
	white-space: normal;
	font-size: 1.2rem;
	background-color: transparent;
	margin-left: 40px;
	margin-right: 20px;
	list-style: number;
}

.about_div div{
	color: white;
	opacity: .8;
	background-color: transparent;
}

.about_div span{
	color: white;
	opacity: .8;
	background-color: transparent;
}

.faq_left span {
	color: white;
	text-align: left;
	white-space: normal;
	background-color: transparent;
}

.faq_left p {
	color: white;
	white-space: normal;
	background-color: transparent;
	margin-left: 20px;
	margin-right: 20px;
}

#faq_div_center div {
	background-color: transparent;
}

