*, html {
	margin: 0;
	padding: 0;
	background-color: black;
}

div {
	padding: .3rem;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background-color: black;

}

li {
	display: inline-block;
	margin: auto .3rem;
	padding: 1rem 0;
	color: white;
	white-space: nowrap;
}

p {
	color: white;
	font-family: Helvetica, serif;
	font-size: .8rem;
	white-space: nowrap;
}

label {
	color: darkgray;
}

input {
	width: 100%;
	border: solid darkgray 1px;
	padding: .3rem;
	margin: .5rem 0;
}
form div {
	margin-left: 0;
	padding-left: 0;
	width: 100%;
}

a:link {
	color: white;
	text-decoration: none;
}

a:hover {
	color: palegoldenrod;
	text-decoration: none;
}

.left {
	margin: auto .3rem auto auto;
}

p.large {
	font-size: 1.5rem;
}

p.huge {
	font-size: 3rem;
	font-weight: bold;
}

p.center {
	text-align: center;
}

p.left {
	text-align: left;
}

div.bigpad {
	padding: 2rem;
}

img.center {
	display: block;
	margin: auto;
}
img.adjust {
	width: 800px;
}

.bigpad p {
	padding-top: 1rem;
}