{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
	<div class="container">
		<div class="row">
			<div>Your Conversations</div>
		</div>
		<div class="row">
			<div>
{#				<form method="GET" action="{% url 'users:create-thread' %}">#}
{#					<button type="submit">Start a Conversation</button>#}
{#				</form>#}
			</div>
		</div>
		{% for thread in threads %}
			<div class="row">
				<div>
					{% if thread.user.user.username == request.user.username %}
						<a href="{% url 'users:thread' thread.receiver.slug %}"><h2>@{{ thread.receiver.user.username }} ({{ thread.receiver.first }})</h2></a>
					{% elif thread.receiver.user.username == request.user.username %}
						<a href="{% url 'users:thread' thread.user.user.profile.slug %}"><h2>@{{ thread.user.user.username }} ({{ thread.user.first }})</h2></a>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}