{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}{% endblock title %}

{% block content %}
	<div class="container">
		<div class="row">
			<div>
				{% if thread.receiver == request.user.profile %}
					<h2 style="color: coral">@{{ thread.user.user.username }}</h2>
					<h25 style="color: coral">{{ thread.user }}</h25>
				{% else %}
					<h2 style="color: coral">@{{ thread.receiver.user.username }}</h2>
					<h5 style="color: coral">{{ thread.receiver }}</h5>
				{% endif %}
			</div>
		</div>

		{% if direct_messages.all.count == 0 %}
		<div class="row">
			<div>
				<h3>No Messages</h3>
			</div>
		</div>
		{% endif %}

		{% for direct_message in direct_messages %}
		<div class="row">
			{% if direct_message.sender == request.user.profile %}
			<p style="color: aquamarine">{{ direct_message.message }}</p>
			{% else %}
			<p style="color: coral">{{ direct_message.message }}</p>
			{% endif %}
		</div>
		{% endfor %}
		<div>
			<form method="POST">
				{{ form|crispy }}
				{% csrf_token %}
				<button type="submit">Send</button>
			</form>
		</div>
	</div>
{% endblock content %}