{% extends 'base.html' %}
{% block title %}Users{% endblock title %}
{% block content %}

	<div>
		<table>
			<tr>
				<th>username</th>
				<th>first</th>
				<th>last</th>
				<th>location</th>
				<th>instructor</th>
			</tr>
			{% for profile in profiles %}
				<tr>
					<td><a href="{% url 'users:user-profile' profile.id %}">{{ profile.user.username }}</a></td>
					<td>{{ profile.first }}</td>
					<td>{{ profile.last }}</td>
					<td>{{ profile.location }}</td>
					<td>
						{% if profile.is_instructor %}
							Yes
						{% else %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>

{% endblock %}