{% extends 'base.html' %}

{% block title %}
	{% if object.first %}
	{{ object.first }}'s Profile |
	{% else %}
	{{ object.user.username }}'s Profile |
	{% endif %}
{% endblock %}
{% block content %}
	<div>
		<div>
			<h2>{{ object.user.username }}</h2>
			<br>
			{% if object.settings.show_email %}
			<h2>{{ object.user.email }}</h2>
			{% endif %}
			{% if object.settings.show_last %}
			<h2>{{ object.last }}</h2>
			{% endif %}
			{% if object.settings.show_phone %}
			<h2>{{ object.phone }}</h2>
			{% endif %}
			{% if object.settings.show_location %}
			<h2>{{ object.location }}</h2>
			{% endif %}
			{% if object.settings.show_about %}
			<h2>{{ object.about }}</h2>
			{% endif %}
		</div>
	<div>
		<div>
			<a href="{% url 'users:profile' %}">my private profile</a>
		</div>
		{% if not object.user.username == request.user.username %}
			<div>
				<a href="{% url 'users:thread' object.slug %}">Send {{ object.first }} a private message.</a>
			</div>
		{% endif %}
	</div>
	</div>
{% endblock %}