{% extends 'base.html' %}

{% block title %}
	{% if object.first %}
	{{ object.first }}'s Profile |
	{% else %}
	{{ object.user.username }}'s Profile |
	{% endif %}
{% endblock %}
{% block content %}
	<div>
		<div>
			<h2>{{ object }}</h2>
			<h2>{{ object.first }}</h2>
			<h2>{{ object.last }}</h2>
			<h2>{{ object.about }}</h2>
			<h2>{{ object.location }}</h2>
		</div>
		<div>
			<a href="{% url 'users:profile' %}">my private profile</a>
		</div>
		{% if not object.user.username == request.user.username %}
			<div>
				<a href="{% url 'users:thread' object.slug %}">Send {{ object.first }} a private message.</a>
			</div>
		{% endif %}
	</div>
{% endblock %}