{% extends 'base.html' %}

{% block title %}About |{% endblock %}

{% block content %}

	<div class="about_div">

		<div>

			<div style="text-align: center";>
				<span style="color: white; opacity: .8; background-color: transparent">about us</span>
			</div>

			<div>
				<div style="color: white; opacity: .8; background-color: transparent">The study of Tae Kwon Do (art of foot and hand) is an undertaking that offers both physical and mental
				rewards. We have six tenets upon which we base our training: modesty, perseverance, self control,
				indomitable spirit, courtesy and integrity. All classes are taught by certified Black Belt
				instructors.</div>
				<div style="color: white; opacity: .8; background-color: transparent">Young’s Tae Kwon Do is the regional headquarters for the <span style="color: white; opacity: .8; background-color: transparent">International Chin Mu Kwan Tae Kwon Do
				federation</span> which has schools and instructors all around the world. This federation was founded by 9th
				degree Black Belt Grand Master Yon Ho Kang. The Pennsylvania headquarters is located in Conshohocken and
				is run by 9th degree Black Belt, Grand Master Fred DeStolfo (Grand Master Young’s instructor). PA branch
				schools are located in Bellefonte, Danville, Selinsgrove, Blairsville, Norristown, Huntington, Halifax,
				Altoona, Coudersport , and Glenmoore. Any Young’s students may travel to any branch school and be
				welcomed with open arms.</div>
			</div>
		</div>

		<div>
			<p>full size pic</p>
		</div>

		<div style="display: flex">

			<div style="width: 50%">
				left side
				<div>
					text boxes
				</div>
			</div>
			<div style="width: 50%">
				right side picture
			</div>

		</div>

		<div>

			<div>
				left side pic
			</div>
			<div>
				<div>
					right side text boxes youngs tkd
				</div>
			</div>

		</div>

		<div>

			<div>
				left side
				<div>
					text boxes instructors
				</div>
			</div>
			<div>
				right side picture
			</div>

		</div>


	</div>

{% endblock %}