{% extends 'base.html' %}
{% block title %}FAQ |{% endblock %}
{% block content %}
	<div style="background-color: #19191FFF; width: 100%">
		<div id="faq_div_center" style="background-color: transparent; max-width: 70%;">

			<div style="display: flex; background-color: transparent;">
				<div>
					<span>FAQ</span>
					<p>Our Answers</p>
				</div>
			</div>

			<div id="faq_div_left">

				<div style="display: flex">
					<div class="faq_left">
						<span>Am I to old or out of shape to do martial arts?</span>
						<p>Everyone can do martial arts, and it's never too late to start. Never use the excuse "I'll
							start classes when I get in shape." We teach people of all skill and fitness levels.</p>
					</div>
				</div>

				<div style="display: flex">
					<div class="faq_left">
						<span>How do I know if martial arts is right for me?</span>
						<p>There are many great resources online. But the best way is to contact us, ask lots of
							questions, come watch a class, and/or try a free trial lesson.</p>
					</div>
				</div>

				<div style="display: flex">
					<div class="faq_left">
						<span>What do I need to know before getting started?  What is the etiquette of the school?</span>
						<p>Our school is like many other martial arts school. You're always welcome to come inside to
							the seating area. Please be patient if we are in the middle of a class. Introduce yourself
							to an instructor/black belt and ask to speak with the head instructor.</p>
						<p>When you start classes:</p>
						<ol style="list-style: upper-roman">
							<li>Take your socks and shoes off before stepping on the mat.</li>
							<li>Trim your finger/toe nails before class.</li>
							<li>Keep your uniform and yourself clean. The only exception is your belt. Belts never get
								put in the laundry or left on the floor. The only thing that should make your belt dirty
								is your hard work while it is around your waste.
							</li>
							<li>All unnecessary jewelry should be removed mainly for safety purposes.</li>
							<li>Hair should be managed appropriately, so it is not a distraction during class.</li>
						</ol>
					</div>
				</div>

				<div style="display: flex">
					<div class="faq_left">
						<span>How long does it take the average person to get a black belt?</span>
						<p>The "Average" person does not get a black belt. Black belts are earned through years of hard
							work, dedication, and study. How many years will completely depend on you.</p>
					</div>
				</div>

				<div style="display: flex">
					<div class="faq_left">
						<span>Will I need to register my hands as deadly weapons?</span>
						<p>Even though they might become deadly weapons through your dedicated training regimen, no,
							this is just a myth. That being said, it is your responsibility to only use your martial
							arts skills at the right times and situations when you are required to defend yourself and
							others.</p>
					</div>
				</div>

			</div>

		</div>
	</div>
{% endblock %}