<footer>
	<div>
		<div class="bigpad">
			<p class="large center">Young's Tae Kwon Do</p>
		</div>
		<div>
			<p class="center">
				<a href="mailto:youngstkdbellefonte@gmail.com">youngstkdbellefonte@gmail.com
				</a>
			</p>
		</div>
		<div>
			<p class="center">(814) 355-2250 (Call or Text)</p>
		</div>
		<div>
			<p class="center">219 W High St, Bellefonte, PA 16823</p>
		</div>
		<div class="bigpad">
			<p class="center">©2022 by Young's Tae Kwon Do. Proudly created with django</p>
		</div>
	</div>
</footer>