{% load static %}
<header>
	<div>
		<ul style="display: flex; border-bottom: darkgray; border-bottom-style: solid">
			<li class="left">
				<a href="https://maps.google.com/?cid=17255987814215067691" target="_blank">
					<img src="{% static 'images/google_places.webp' %}" alt="Google Places">
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/youngs.tkd.bellefonte/" target="_blank">
					<img src="{% static 'images/facebook.webp' %}" alt="Facebook">
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/youngs.tkd.bellefonte/" target="_blank">
					<img src="{% static 'images/instagram.webp' %}" alt="Instagram">
				</a>
			</li>
		</ul>
	</div>
	<div>
		<ul style="display: flex">
			<li>
				<a href="{% url 'index' %}">
					<img src="{% static 'images/tkd_logo.webp' %}" alt="TKD logo">
				</a>
			</li>
			<li>
				<a href="{% url 'index' %}">
					<p class="large">Young's Tae Kwon Do</p>
				</a>
				<p>Get started on your martial arts journey today!</p>
			</li>
			<li class="left"><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'index' %}#contact">Contact Us</a></li>
			<li><a href="{% url 'courses' %}">Classes</a></li>
			<li><a href="{% url 'faq' %}">FAQ</a></li>
			<li><a href="{% url 'about' %}">About</a></li>
			<li><a href="{% url 'other-services' %}">Other Services</a></li>
			{% if user.is_authenticated %}
				<li><a href="{% url 'users:user-list' %}">Users</a></li>
				<li><a href="{% url 'users:inbox' %}">Inbox</a></li>
				<li><a href="{% url 'forum' %}">Forum</a></li>
				<li><a href="{% url 'users:profile' %}">My Profile</a></li>
				{% if user.is_superuser %}
					<li><a href="{% url 'contact-us-messages' %}">Contact-us Messages</a></li>
				{% endif %}
				<li><a href="{% url 'logout' %}">Logout</a></li>
			{% else %}
				<li><a href="{% url 'login' %}">Login</a></li>
				<li><a href="{% url 'signup' %}">Sign Up</a></li>
			{% endif %}
		</ul>
	</div>
</header>